<!DOCTYPE html>
<html> 
  <head>
    <title> Careersinfo </title>
    <style>
    h1{
        font-size: 24px;
        font-family: Roboto;
        text-align: center;
        color: rgb(180, 180, 100)
      }
    .bodytext {
        font-family: rosybrown; 
        text-align: center; 
        color: rgb(80,90,90)
      }

      #workimg{
        width: 100%;
        height: 720px;
        margin: 0 auto 0 auto;
      }

      #container{
        max-width: 720px;
        margin: 0 auto ;
      }



      </style>
  </head>
  <body>
    <div id='container'> 
      <h1>Hello there, this app helps with career choice.</h1>
      <img id='workimg' src="https://career-website--manifestjosh.repl.co/static/workimg.jpg", height='320'>
      <h2> About Careersinfo </h2>
      <p class='bodytext'>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet massa vitae tortor condimentum lacinia quis. Quisque egestas diam in arcu cursus euismod quis viverra. Elit duis tristique sollicitudin nibh. Dui faucibus in ornare quam viverra orci sagittis. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed. Quam elementum pulvinar etiam non quam lacus. Ut diam quam nulla porttitor massa id neque. Quisque id diam vel quam elementum. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Quis auctor elit sed vulputate mi. Habitasse platea dictumst vestibulum rhoncus. Sit amet consectetur adipiscing elit ut aliquam. Lectus vestibulum mattis ullamcorper velit. Vitae justo eget magna fermentum iaculis. Purus in mollis nunc sed id semper.
      </p> 
      <h2> Open Position </h2>
      <p> Show the Jobs here </p>
      <div style='text-align: center;'
      <button>Contact Us</button>
        <p> Copyright 2022, Careersinfo</p>
      </div>
    </div>
    
  </body>
</html>